<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <form id="saveContactForm" method="post">
        <h3>Create a new Contact</h3>
        <p>
            <label for="contact_region">Region: </label>
            <input type="text" name="region" />
        </p>
        <p>
            <label for="contact_company">Company: </label>
            <input type="text" name="company" />
        </p>
        <p>
            <label for="contact_lname">Last Name: </label>
            <input type="text" name="lname" />
        </p>
        <p>
            <label for="contact_fname">First Name: </label>
            <input type="text" name="fname" />
        </p>
        <input type="button" id="saveContact" value="Save" />
    </form>
</div>
@section scripts{
    <script>

        $('#saveContact').click(function () {
            $.post("api/contact",
                  $("#saveContactForm").serialize(),
                  function (value) {
                      $('#contacts').append('<li>' + value.Region + '</li>');
                      $('#contacts').append('<li>' + value.Company + '</li>');
                      $('#contacts').append('<li>' + value.LName + '</li>');
                      $('#contacts').append('<li>' + value.FName + '</li>');
                  },
                  "json"
            );
        });
    </script>
}